<nav class="mt-4">
  <div
    class="max-w-6xl mx-auto py-2 px-6 xl:px-0 flex items-center justify-between"
  >
    <div class="menu-left flex items-center space-x-6">
      <a
        class="py-4 text-lg font-semibold hidden lg:flex"
        href="{% url 'home' %}"
        >BrenyoBetterBargains</a
      >
    </div>
    <div class="menu-right flex items-center space-x-4">
      <ul class="flex items-center space-x-4">
        <li><a class="hover:underline" href="{% url 'shop' %}">Shop</a></li>
        <li><a class="hover:underline" href="#">FAQ</a></li>
        <li><a class="hover:underline" href="#">About</a></li>
        <li>
          <a
            class="hover:underline"
            href="https://www.instagram.com/brenyo_better_bargains/"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li
          hx-get="{% url 'hx_menu_cart' %}"
          hx-trigger="update-menu-cart from:body"
          hx-swap="innerHTML"
        >
          {% include 'partials/menu_cart.html' %}
        </li>
      </ul>
    </div>
  </div>
</nav>
