{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
<div class="container">
  <h1 class="text-5xl font-bold">FAQ</h1>

  <h3>General Questions</h3>

  <div tabindex="0" class="collapse collapse-plus border border-base-300 bg-base-200">
    <div class="collapse-title text-xl font-medium">
      Focus me to see content
    </div>
    <div class="collapse-content">
      <p>tabindex="0" attribute is necessary to make the div focusable</p>
    </div>
  </div>

</div>
{% endblock content %}
