{% load static %}
      <div
        class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4"
      >
      <div>

      <h2 class="mb-4 text-4xl tracking-tight font-extrabold">
        Let's find the best style for.
      </h2>
      <p class="mb-8 font-light sm:text-xl">
        Vist our instagram page for updates.
      </p>

      <a class="bg-orange-700 font-bold text-white p-2 rounded-md hover:brightness-100" target="_blank" href="https://www.instagram.com/brenyo_better_bargains/"> Better Bargains</a>

        </div>
        <div>
        <img src="{% static 'images/sofa.jpg' %}" alt="" />
        </div>

      </div>
